<h1><%= @page.title %></h1>
<div class="page-content">
  <%= simple_format(@page.content) %>
</div>

<style>
  .page-content {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
  }
</style>
